# loconsensus
-e .
numpy
numba
joblib


# experiments
git+https://github.com/ML-KULeuven/locomotif.git@main#egg=dtai-locomotif
git+https://github.com/daanvw/tsmd-evaluation.git@main#egg=tsmd-evaluation
dtaidistance
matplotlib
scipy
scikit-learn
#seriesdistancematrix
#stumpy
#frm-miner